@import url("https://lilytistic.github.io/soon/main/extra/fonts.css");
@import url("https://lilytistic.github.io/soon/main/extra/snippets.css");
@import url("https://lilytistic.github.io/soon/main/extra/palette.css");

:root {
  /* Theme Version */
    --soon-ver: "1.2.0";
}
/* Fonts */
code {
  font-family: var(--codeblock-font);
}

/* Sidebar */
.sidebar_ded4b5 {
  border-top-left-radius:4.5px!important;
}


/* Pin Home Icon */
.guilds__2b93a .tree__7a511:focus {
  outline-color: transparent;
}

.guilds__2b93a .scroller__3d071 {
  contain: unset;
  margin-top: 32px;
}

.guilds__2b93a .scroller__3d071, .tutorialContainer__890ea {
  background-color: var(--background-tertiary)!important;
  border-top-right-radius:10px;
}
.tutorialContainer__890ea.listItem_fa7b36.wrapper_d281dd[data-list-item-id="guildsnav___home"]:not(#a) {
  margin-top:25px;
}
.guildSeparator_dcb3cc {
  display:none;
}
.unreadMentionsIndicatorTop_ada847 {
  margin-top:50px;
}

/* Server List */
.guilds__2b93a {
  border-radius: 0 10px 10px 0;
  margin: 20px 1px 10px 0;
}

.scroller__3d071 {
  background-color:#211d2981!important;
}
.tutorialContainer__890ea > .listItem_fa7b36:first-child{
  margin-top:9px;
}
.scroller__3d071 .wrapper__3af0b foreignObject, .folderIconWrapper__72239, .wrapperSimple_a34580, .expandedFolderBackground__1bec6 {
  mask: none;
  border-radius: var(--folder-radius);
}
.icon_c48348 {
  mask:none;
  border-radius:var(--server-radius);
}
/* Servers */
.tutorialContainer__890ea .selected_ad2d13 .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c:not(#bbc) {
  background-color:#17151d;
}
  
/* Titlebar/Wordmark */
.wordmark__0d178 {
  color: gray;
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-weight: 800;
}
.titleBar__01af6 .wordmark__0d178 {
  padding: 5px 9px 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.wordmark__0d178::before {
  content:" Soon";
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
}
.wordmark__0d178::after {
  content: "by Satana";
  position: absolute;
  font-size: 15px;
  margin-left: 115px;
  font-weight: 400;
  margin-top: 10px;
}
.wordmark__0d178 > svg {
  display: none;
}
  
  
/* User Panel */
.button__4f306 {
  background-color: #18141d;
  border-radius:0px;
  transition: all 0.2s ease-in-out;
}
.button__4f306:hover:not(#a) {
  background-color: #241f2b;
}
.button__4f306:first-child {
  border-radius: 10px 0 0 10px;
}
.button__4f306:last-child {
  border-radius: 0 10px 10px 0;
}
.status-2DiCMd svg:not(#a) {
  mask: none;
  border-radius: 0;
}
.menu_dc52c6,.emojiSection_a65b54 {
  background-color: var(--user-popout-bg);
}


/* Action Buttons */
.actionButton__23182 {
  border-radius: 10px;
}

/* Avatars */
.wrapper_edb6e0 foreignObject,
.callAvatarMask__29ce7 foreignObject,
.avatarContainer__7b330 foreignObject,
.avatarMasked__0b3c8 {
  mask: none;
  -webkit-mask: none;
}
.wrapper_edb6e0,
.avatar__991e2,
.profile_f166d1 .avatarUploaderInner-yEhTv5,
.voiceAvatar__54cc1,
.avatar__08316,
.border_e782de,
.avatar_a56eee,
.clickableAvatar_e26163,
.emptyUser_dba665,
.avatar__777a6,
.wrapper__0be4c.ringingIncoming__5e70d::after,
.wrapper__0be4c.ringingOutgoing_a69e6a::after,
.replyAvatar_cea07c,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainerMasked__6a03e,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
.avatarHint-2g3Mcd,
.avatarHint-2g3Mcd foreignObject {
  border-radius: var(--avatar-radius);
  mask: none;
}
.avatarHintInner-3gk_Yx {
  border-radius: var(--avatar-radius);
}
.topSection_dfb73b header svg mask {
    display:none;
}
/* RS Typing Animation Removal */
#app-mount .wrapper_edb6e0 .pointerEvents__33f6a[x="14.5"] {
  fill: transparent !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
  
/* Mentions */
.numberBadge__50328:not(#a) {
  mask: none;
  -webkit-mask: none;
  border-radius: 5px;
  border: solid 1px var(--background-primary);
}
.lowerBadge__669e7:not(#a) {
  border-radius: 5px 3px 0 3px;
  margin: 0 -5px -5px 0;
  border: solid 2px var(--background-primary);
  background-color: var(--background-primary);
}
.unreadMentionsIndicatorBottom_fdb943.bar_edc096,.unreadMentionsBar__0d02a:not(#a) {
  mask: none;
  border-radius: 5px;
}

/* Message Box */
.channelTextArea__2e60f>.scrollableContainer__33e06:not(#a) {
  border-radius:5px;
  background-color:var(--messagebox-bg);
}
.placeholder_e68c63 {
  text-align:var(--messagebox-align);
}
.textArea-220_Gz, .channelTextArea__56a36, .scrollableContainer__33e06 {
  background-color:var(--messagebox-bg);
}

/* Titlebar Buttons */
.winButton__88672:not(#a) {
  border-radius:5px;
  transition:all 0.2s ease-in-out;
}
  
/*
This is for the
(Purpura Color Palette by blueb442)
Do Not Touch.
*/
.theme-dark.container__11d72 {
  background-color:var(--toolbar-bg);
}
.circleIconButton_d8df29 {
  background-color:#17151d;
}
.childWrapper__01b9c.acronym_cd4809 {
  background-color:#17151d;
}
.autocomplete_df266d,.autocomplete__0c75a,.autocompleteAttached_ac1f6b:not(#a) {
  background-color:var(--autocomplete-bg);
}
.autocompleteInner_a0e6a1 {
  background-color:var(--autocomplete-bg);
}

/* bug fixes */
.children__32014:after{
  content: none;
}
  
/* User Popout */
.userPopout-3fydSP,.userPopoutInner-PA9zkU,.animatorRight-xAUgTY,.userPopoutInnerNonPremium-3zrFkp,.bodyInnerWrapper-2bQs1k,.wrapper_edb6e0,.topSection-13QKHs,.body-1Ukv50,.footer-3naVBw,.overlayBackground-arbZMT {
  background-color:var(--user-popout-bg);
  border-color:var(--user-popout-bg);
  border-radius:5px;
}
.connectedAccountContainer-SlCC-S {
  background-color:var(--connected-accounts-bg);
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL {
  background-color:var(--messagebox-bg);
  filter:brightness(80%);
  border-radius:5px;
}
.inputWrapper-1YNMmM,.inputDefault-3FGxgL:hover,.inputWrapper-1YNMmM,.inputDefault-3FGxgL:focus {
  background-color:var(--messagebox-bg);
  filter:brightness(65%);
}
  
/* Banners */
.layer-1Ixpg3 .banner__6d414 .banner-2boKnS,.bannerPremium-86naOf,.profileBanner-2zIsK7, .popoutBanner-16rVDY, .popoutBanner__9f5b9, .popoutBannerPremium-3i5EE, .bannerPremium__42693 {
  filter: blur(calc(var(--banner-blur-amount) * 1px * var(--banner-blur)));
  transition:1s ease all;
}
.layer-1Ixpg3 .banner__6d414:hover,.profileBanner-2zIsK7:hover, .banner-2boKnS:hover, .popoutBanner__9f5b9:hover, .popoutBannerPremium-3i5EE:hover, .bannerPremium__42693:hover {
  filter:none;
}
.userPopoutInnerNonPremium-3zrFkp .bannerSVGWrapper-qc0szY foreignObject { /* Banner SVG Fix */
  mask: none;
}
.bannerSVGWrapper-qc0szY>mask {
  display:none;
}
  
/* Avatar */
.replyAvatar_cea07c {
  mask:none;
  border-radius:var(--reply-avatar-radius);
}
.avatar__08316 {
  border:1px solid transparent;
  transition: all ease-in-out 0.55s;
}
.avatar__08316:hover {
  border-color:rgba(104, 58, 126, 0.322);
}
.wrapper_edb6e0 circle {
  fill:transparent;
}

/* Add Server Button [+] */
.theme-light .root_a28985, .modalContent-33IoU, .header__6d5ea {
  background-color: var(--dark-background);
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light .footer__89240, .modalFooter-2XY3GW {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.theme-light .thin_b1c063::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-tertiary);
}
.theme-light .subtitle-3m-md1,.theme-light .subtitle-bIoUVX,.theme-light .subtitle-1cc8Nz,.theme-light .optionHeader-27AHfD,.theme-light .text-PdAsFQ,.theme-light .text-sm-normal-3Zj3Iv,.theme-light .skip-2hTIXL,.theme-light .guidelines-FvqqF2,.theme-light .colorStandard__5111e,.theme-light .text-xs-normal-3SiVjE.rowText-3MQqQi:not(#a) {
  color: var(--dark-header-secondary) ;
}
.theme-light .inputDefault-3FGxgL,.theme-light .sampleLink-5BWNy9 {
  color: var(--dark-text);
}
.theme-light .defaultColor-24IHKz {
  color: var(--dark-header);
}
.theme-light .anchor-1MIwyf {
  color: var(--dark-link);
}
.theme-light .container-x8Y1ix {
  background-color: var(--dark-background);
  border-color: hsla(0, 0%, 100%, 0.06);
}
.theme-light .rowContainer-3t7486 {
  background-color: var(--dark-background-secondary);
}
.theme-light .container-x8Y1ix:hover,.theme-light .rowContainer-3t7486:hover {
  background-color: var(--dark-modifier-hover);
}
.theme-light .container-x8Y1ix:active,.theme-light .rowContainer-3t7486:active {
  background-color: var(--dark-modifier-selected);
}
.theme-light .arrow-2yY1Tm {
  filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(191%) hue-rotate(177deg) brightness(89%) contrast(91%);
}
.theme-light .footerButton-24QPis {
  background-color: var(--blurple);
}
.theme-light .footerButton-24QPis:hover {
  background-color: #4752c4;
}
.theme-light .footerButton-24QPis:active {
  background-color: var(--blurple);
}
.theme-light .lookBlank-21BCro,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--dark-header);
  text-decoration-color: var(--dark-header);
}
.theme-light .lookBlank-21BCro:hover,.theme-light .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  text-decoration: underline;
}
.theme-light .uploadIcon-2wV7s_ {
  color: var(--dark-header-secondary);
}
.theme-light .inputDefault-3FGxgL {
  background-color: var(--dark-background-tertiary);
  font-weight: 400;
}
.theme-light .inputDefault-3FGxgL::placeholder {
  font-weight: 400;
  color: #87898c;
}
.theme-light .input-m1-Y7Q {
  background-color: var(--dark-background-tertiary);
}
.theme-light .close-1mLglB.button_afdfd9 {
  opacity: 0.5;
}
.theme-light .close-1mLglB.button_afdfd9:hover {
  opacity: 1;
}
.scroller__3d071 {
  contain: unset;
  padding-bottom: 190px;
}
.scroller__3d071::before {
    content: "";
    position: fixed;
    bottom: 0;
    width: 72px;
    height: 190px;
    background: linear-gradient(transparent, var(--background-tertiary) 70%);
    z-index: 1;
    pointer-events: none!important;
}
.tutorialContainer_dc6fde {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.tutorialContainer_dc6fde + .listItem_fa7b36 {
    position: fixed;
    bottom: 58px;
    contain: none;
    z-index: 1;
}
.tutorialContainer__890ea > * {
    margin-bottom:0px!important;
}
  
/* Discover Servers Page */
.pageWrapper_fef757,.list-3FIpnh {
  background-color: #19171b!important;
}
.searchBox_a63854:not(#a) {
  background-color:#141218;
}
.searchBoxInput-3h4etz:not(#a) {
  color:var(--messagebox-text);
}
  
/* Custom Status Modal */
.modalRoot-1uudbL:not(#a) {
  background-color: var(--dark-background);
}
.footer__89240:not(#a) {
  background-color: var(--dark-background-secondary);
}
.select-1Ia3hD:not(#a) {
  background-color:var(--user-popout-bg);
}
.option-2eIyOn:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(110%);
}
.option-2eIyOn:hover:not(#a) {
  background-color:var(--user-popout-bg);
  filter:contrast(120%);
}
  
/* Server Boost Modal */
.perksModal-CLcR1c:not(#a) {
  background-color:var(--background-primary);
}
  
/* Settings Info (bottom of sidebar) */
#app-mount .info__755e1 .line__75801:last-child:after {
  content: "Soon v" var(--soon-ver);
  display: block;
  text-transform:none;
}
#app-mount .info__755e1 .line__75801:first-child::before {
  content: "https://dreidel.wtf";
  display: block;
  font-weight:bold;
  text-transform:none;
}

/* All Popups/Modals */
.theme-light .root_a28985,.content__764ce,.header__6d5ea,.container__6604b,.scroller-3nFW5p,.header__53b07,.scroller-2M3eAB, .messagesPopout__22763, .modalContent-33IoU, .content__764ce, .scroller__1c703, .channelHeader__5d30c:not(#a) {
  background-color: var(--dark-background);
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-light .footer__89240,.message__04d9f,.footer_a3029c,.list__19127, .footer-1hTRRZ, .modalFooter-2XY3GW, .header__6d5ea,.header__28ebb, .header_f5cc88, .tutorial__7b875, .channel_d48f2d:not(#a) {
  background-color: var(--dark-background-secondary);
  box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.channelHeader__5d30c {
  filter:contrast(110%);
}
.modalContent-33IoU, .content__764ce:not(#a) {
  border-radius:0px;
}
.card-1LSSlz:not(#a) {
  background-color: transparent;
  border-color:transparent;
}
.copyIcon__7f30b {
  display:none;
}
.content__764ce:not(#a) {
  border-radius:0px;
}
.content__764ce ,.content__24381:not(#a) {
  box-shadow:none;
}
.header__6d5ea,.header-DdKz5e {
  background-color:var(--background-primary);
}

.inspector__993e1, .inspector__17331, .footer__274e8 {
  background-color:var(--background-secondary);
}
.unicodeShortcut__1dd6b {
  background:#16141b;
}
.emojiPickerListWrapper_e15ac7:not(#a), 
.emojiPickerListWrapper_e15ac7:not(#a) .header_c3c744:not(#a),
.categorySectionCollapsed__46c33 .header_c3c744:not(#a),
.categorySection_f44c2f:not(#a),
.scroller__5c5df:not(#a),
#uid_40:not(#a),
#popout_8885:not(#a),
.reactors__20ab0:not(#a) {
  background-color:var(--background-primary);
}
.emojiItem_b15dee.emojiItemSelected__1a09a:not(#a),
.sticker__25985.stickerInspected__1c897:not(#a),
.reactionSelected__249a7:not(#a),
.option_b5597b:not(#a) /* find the selected class for this (hint: searchbar!) */ {
  background-color:#201e27; /* ^ */
}
.categoryItemDefaultCategory__67fe7.categoryItemDefaultCategorySelected__8245a {
  background-color:#2b2933;
}
.emojiPicker_b65ce9 .header__55964,
.contentWrapper__321ed,
.packHeader__8b804 {
  background-color:var(--background-secondary);
}
.searchBarGrid-3PsYLd,
.wrapper_dcecd7,
.container_e4c233,
.searchBar__3b162  {
  background-color:var(--background-tertiary);
}
.contentWrapper__321ed .categoryList_f8c48f, .categoryList__5dbc1, .list-obNEuP,
.queryContainer_c359fe {
  background-color:#1c1a22;
}
.container-2O1UgZ,.colorPickerCustom-1swUKF {
  background-color:var(--user-popout-bg);
}
.inner__999f6 {
  background-color:var(--background-tertiary);
}
.messageGroupCozy__2dedd {
  background-color:var(--messagebox-bg);
}
.container__5c7e7 .themed_b152d4 {
  background-color: var(--background-primary);
}
.avatarUploaderNormal-1h8g3f,
.avatarUploader-CHGwK7,
.imageUploaderInner_da8332, 
.avatarUploaderInner-1dBiHs,
.imageUploaderIcon__0c13b {
  border-radius:5px;
}
.imageUploaderIcon__0c13b:not(#a) {
  background-color: rgb(0,0,0,0.7);
  border-radius: 1px 5px 1px 5px;
}
.avatarUploaderNormal-1h8g3f .status-b9jLr4 {
  display:none;
}
#gif-picker-tab-panel:not(#a),
.modalContent-1uVMnp:not(#a),
.artContainer__56b19:not(#a),
.content__764ce:not(#a),
.content__24381:not(#a),
.paymentPane__9cf01:not(#a),
.verticalFit_d9ac53:not(#a),
.paginator_e620d3:not(#a),
#billing-history:not(#a),
.payment__7d702:not(#a),
.codeRedemptionRedirect_bc7f36:not(#a),
.card-16VQ8C:not(#a){
  background-color: var(--background-secondary);
}
.searchOption__41bc5:hover:not(#a),
.option_b5597b:hover:not(#a) {
  background-color: var(--background-secondary-alt);
}
.searchOption__41bc5:not(#a),
.option_b5597b:not(#a) {
  background-color:var(--background-secondary);
}
.searchOption__41bc5::after:not(#a),
.option_b5597b::after:not(#a) {
  display:none;
}
#popout_22616:not(#a) > * {
  background-color: var(--background-secondary);
}
.avatar__6c108 {
  border:none;
}

.container__5c7e7 .themed_b152d4{
  background-color:var(--background-primary);
}

.panels__58331 {
  order:var(--userpanel-position);
  min-height:48px;
  background-color: var(--background-primary);
}
.panels__58331 .avatar_f8541f {
  margin-left:3px;
}
.container-1Lk8p7:not(#a),.content__764ce:not(#a),.content__764ce:not(#a),.templatesList-uohY49:not(#a),.optionsList-dmHy1l:not(#a) {
  background-color:var(--background-secondary);
}
.container-x8Y1ix:hover:not(#a) {
  background-color: rgb(0, 0, 0, 0.04);
}
#popout_415, .container_d6dad3, .queryContainer_c359fe {
  background-color:#121016;
}

.customItem-2CxBSo .button__3ecb4 {
  border-radius:5px;
  background-color: rgba(31, 26, 35, 0.753);
  transition: .2s ease;
}
.customItem-2CxBSo .button__3ecb4:hover {
  background-color:rgba(31, 26, 35, 0.198);
}
.expandedFolderIconWrapper__458cf,
.expandedFolderBackground__1bec6  {
    background-color: var(--opened-folder-bg);
}

.invite__2a93b:not(#a) {
  background-color: rgb(0,255,0,0.07);
}
.keyboardShortcutsModal__74c71:not(#a) {
  background-color: var(--background-secondary);
}
.scroller__5fda0:not(#a) {
  background-color: var(--background-secondary-alt);
}
.avatarSmall__7dc81:not(#a) {
  border-radius:5px;
}
.modalSize-3WSXDU {
  background-color: var(--background-secondary);
}
.paymentModalContent, .paymentModalContent .bodyWrapper-23FTiG, .headerAnimation-3DVb6i {
  background-color: var(--background-secondary);
}
.react-datepicker:not(#a),
.calendarPicker__5c474:not(#a),
.react-datepicker__current-month:not(#a),
.react-datepicker__header:not(#a),
.react-datepicker__month:not(#a)  {
    background-color: var(--background-secondary);
}
.react-datepicker__day--disabled:not(#a),
.react-datepicker__day--outside-month:not(#a) {
    background-color: rgb(14,12,17,3);
}
#app-mount .colorPickerCustom-1swUKF:not(#a) {
  background-color: var(--background-secondary);
  border-radius:10px;
}
.content__1a4fe:not(#a),.title_b7d661:not(#a) {
  background-color: var(--background-primary);
}
.container__92dc8, .containerCard__30250 {
  background-color: var(--background-secondary);
}
.guildIconImage__93ae7:not(#a),
.iconActiveLarge__8985a:not(#a) {
    background-color:#0e0c11!;
}
.contentWrapper__85d37:not(#a) {
  background-color: var(--background-secondary);
}
.inviteSplash_da131b {
  filter:blur(0.956px);
  transition: 0.5s all ease;
}
.inviteSplash_da131b:hover {
  filter:none;
}

/* scrollbar. */
#app-mount ::-webkit-scrollbar-track {
  background: transparent;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
}


.categoryHeader_f97a5f {
  background-color: var(--autocomplete-bg);
}
.menu_dc52c6:not(#a) {
  background-color:#151216;
}

.giftCodeContainer__7fa01 .description__883d4 {
  background-color: #1e1b25;
}
.tooltip__01384, .popout__24e32 {
    backdrop-filter: blur(15px);
}

/* ChannelTabs Compatibility */
#app-mount #channelTabs-container{
  background: var(--background-secondary);
  margin: 10px;
  border-radius:5px;
}
#app-mount #channelTabs-settingsMenu{
  margin-right: 15px;
}
.channelTabs-tabContainer{
  margin: 2px;
}
.channelTabs-tab{
  margin-left: 5px;
}
.channelTabs-mentionBadge:not(#a) {
  border-radius: 4px;
  mask: none;
}
.channelTabs-tabIcon:not(#a), .channelTabs-tabIconWrapper > foreignObject {
  border-radius: 5px;
  mask: none;
}
.channelTabs-tabIconWrapper>foreignObject[mask]{
  mask: none;
}
#app-mount .channelTabs-tabIcon{
  border-radius: 10%;
}
.channelTabs-tabIconWrapper>rect:not(#a){
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: 5px;
  ry: 5px;
  fill: transparent ;
  stroke-width: var(--rs-small-width);
}
.channelTabs-tabIconWrapper>.channelTabs-doNotDisturbIcon{
  stroke: var(--rs-dnd-color);
}
.channelTabs-tabIconWrapper>.channelTabs-onlineIcon{
  stroke: var(--rs-online-color);
}
.channelTabs-tabIconWrapper>.channelTabs-idleIcon{
  stroke: var(--rs-idle-color);
}
.channelTabs-tabIconWrapper>.channelTabs-offlineIcon{
  stroke: var(--rs-offline-color);
}
.channelTabs-tabIconWrapper>rect:not(.channelTabs-offlineIcon,.channelTabs-idleIcon,.channelTabs-onlineIcon,.channelTabs-doNotDisturbIcon){
  stroke: var(--rs-streaming-color);
}

.container-2nx-BQ,
.bd-switch-body {
	width: 20px;
	height: 20px;
	background: transparent !important;
}

.container-2nx-BQ .slider-32CRPX,
.bd-switch-body .bd-switch-slider {
	left: -6px !important;
}

#app-mount .container-2nx-BQ .slider-32CRPX>rect,
#app-mount .bd-switch-body .bd-switch-slider rect {
	height: 20px;
	width: 20px;
	x: 4px;
	y: 0px;
	rx: 5;
	fill: var(--background-accent);

}
#app-mount .bd-switch-checked .bd-switch-symbol path {
	fill: rgb(0, 255, 0);
}
.bd-switch .bd-switch-symbol path {
	fill: #999;
}


.directoryModal-YJsOMv:not(#a)  {
  background-color:var(--background-secondary-alt);
}

/* colorpicker */
#app-mount .customColorPicker__3cb6a{
  background: none;
}

/* spinning avatar which is ugly as fuck */
.spinningAvatar__012e4{
  animation: none;
}

/* popout bug fixes */
.spinnerContainer-3a92uf{
  background: var(--background-secondary);
}
.root_a28985 :where(.header__6d5ea, .header-DdKz5e,.spinner-2RT7ZC){
  background-color: var(--background-secondary);
}

/* Chat bubble in delete message dialog */
.message__04d9f {
  background-color:var(--chat-bubble-background-color)!important;
}

/* searchbar fix */
.option_b5597b:after{
  background: var(--background-secondary);
}
.option_b5597b:hover:after{
  background: linear-gradient(to left, var(--background-secondary-alt) 53%,transparent 94%);
}
#app-mount .queryContainer_c359fe{
  background-color: var(--background-secondary);
}
#app-mount .queryShortcut__88ea5 .key-N5VmHN{
  background-color: #282430;
  box-shadow: none;
}

/* phone number modal styling */
.phoneVerificationModal__68f4b{
  background-color: #121016;
}
.phoneVerificationModal__68f4b>.flex_f5fbb7>button{
  background-color: var(--brand-experiment-500);
}
.phoneVerificationModal__68f4b>.flex_f5fbb7>button:hover{
  background-color: var(--brand-experiment-560);
}
.phoneVerificationModal__68f4b>.flex_f5fbb7>input,
.phoneVerificationModal__68f4b>.flex_f5fbb7{
  background-color: var(--messagebox-bg);
  box-shadow: none;
  border: 0;
}
.phoneVerificationModal__68f4b>.flex_f5fbb7{
  filter: drop-shadow(0 0 5px var(--messagebox-bg));
}
#app-mount .elevationBorderLow__610e6{
  background: var(--background-secondary);
}
body #app-mount .phoneFieldScroller_b85cc2>.selectableItem__166c5:hover{
  background-color: var(--user-popout-bg);
}
#app-mount .phoneFieldScroller_b85cc2>.selectableItem__166c5:focus{
  background-color: transparent;
}

/* region popout restyle */
#app-mount .quickSelectPopout_c0cf80{
  background: var(--background-floating);
  backdrop-filter: blur(20px);
}
body #app-mount .quickSelectPopout_c0cf80>.quickSelectPopoutOption__39224:hover{
  background-color: var(--background-modifier-hover);
}
#app-mount .quickSelectPopout_c0cf80>.quickSelectPopoutOption__39224:focus{
  background-color: transparent;
}
.topControls_d202b0>:not([class])>.flex__909d4{
  margin-top: 5px;
}

/* restyling gif picker */
#app-mount .emptyHintCard_f3e81a{
  background-color: var(--background-accent);
}
#gif-picker-tab-panel .result_e1fc74>.categoryFadeBlurple_e73c11{
  background-color: rgba(58, 49, 81, 0.8);
}
#app-mount #gif-picker-tab-panel .focused__036ed:after, #app-mount #gif-picker-tab-panel .result_e1fc74:hover:after{
  box-shadow: inset 0 0 0 2px rgba(118, 100, 162),inset 0 0 0 3px rgba(118, 100, 162, 0.8);
}

/* Radius fix for sidebar, not important enough to label */
.privateChannels__93473 {
    border-top-left-radius:15px!important;
}

/* Tab Bars (user profile) */
.tabBarItem-3VvT2z {
  background-color: var(--itemtab-default);
  padding:10px;
  margin-right:-25px;
  margin-bottom:15px;
  border-radius:10px;
  max-height:16px;
  border-color:var(--itemtab-default)!important;
}

.selected__5711d.tabBarItem-3VvT2z {
  background-color: var(--itemtab-selected);
}

/* status emojipicker fix */
.formGroup-146LDV>.children_b15c64 .inputContainer-3envCr :where(div+div:last-child,input){
  filter: none;
}

/* Voice Chat PFPs */
.voiceUser__0470a .content_b60865 .userAvatar_c4f005 {
  border-radius:var(--rs-avatar-shape)!important;
}

.tooltip__01384 {
    backdrop-filter: blur(15px);
}
